// Custom styles.
.post {
   margin-bottom: 20px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
.posts-expand{
    padding-top:0;
}
.content-wrap {
    float: right;
    box-sizing: border-box;
    padding:10px 40px;
    width: 700px;
    background: #fff;
    min-height: 700px;
    box-shadow: initial;
    border-radius: initial;
}
